<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org///DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ho.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board" parameterType="Pagination">
		SELECT			b_idx as idx,
					    b_id as id,
					    b_title as title,
					    b_text as text,
					    b_uploadtime as uploadtime
	   	FROM			board ta
	   	ORDER BY    	ta.b_idx desc
	   	LIMIT  			#{pageNum}, 3
	   	WHERE			
	   	<if test="#{Search.type}!=null and (#{Search.type}equals('T')">
		b_title LIKE CONCAT('%',#{Search.keyword},'%')
		</if>
		<if test="#{Search.type}!=null and (#{Search.type}equals('C')">
		b_text LIKE CONCAT('%',#{Search.keyword},'%')
		</if>
		<if test="#{Search.type}!=null and (#{Search.type}equals('W')">
		b_id LIKE CONCAT('%',#{Search.keyword},'%')
		</if>
		<if test="#{Search.type}!=null and (#{Search.type}equals('TC')">
		b_id LIKE CONCAT('%',#{Search.keyword},'%')
		or b_text LIKE CONCAT('%',#{Search.keyword},'%')
		</if>
	   	
	</select>
	
	 
	<select id="totalCount" parameterType ="Search" resultType="int">
		
		SELECT COUNT(*) count 
		FROM board
		WHERE
		<if test="#{type}!=null and (#{type}equals('T')">
		b_title LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="#{type}!=null and (#{type}equals('C')">
		b_text LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="#{type}!=null and (#{type}equals('W')">
		b_id LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="#{type}!=null and (#{type}equals('TC')">
		b_id LIKE CONCAT('%',#{keyword},'%')
		or b_text LIKE CONCAT('%',#{keyword},'%')
		</if>
	</select>
	
	<insert id="boardPost" parameterType ="board">
	 INSERT INTO board (
         b_id,
         b_title,
         b_text
           
      ) VALUES (
         #{id},
         #{title},
         #{text}

      )
       
	</insert>
	
	<select id="getContent" parameterType="int" resultType="board">
		
		SELECT     		b_id 	            	    as id,
		                b_title						as title,
		                b_text						as text,
		                b_uploadtime				as uploadtime
		FROM         board
		WHERE         1=1
		AND            b_idx   =   #{idx} 
	</select>
	
	<update id="contentUp" parameterType="board">
		
      UPDATE board SET
      
         b_title = #{title},
         b_text = #{text}
        
      WHERE b_idx = #{idx}
       
	</update>
	
	<delete id="contentDel" parameterType="Board">
		   Delete from board
		   Where b_idx = #{idx}
	</delete>
	   
	
</mapper>